{% extends 'pages/base.html' %}
{% block title %}QSN a tu alcance - {{title|capfirst}}{% endblock title %}
{% block content %}
{% for item in entry_header %}
<div class="row pt-3">
  <div class="display-none table">
    {# {% include 'components/advertising.html' %} #}
  </div>
  <div class="col-lg-8">
    <div class="wrapper__visual">
      <div class="container-visual-figure">
        <figure class="visual-figure main">
          <div class="visual-img">
            <img height="250" width="645" src="{{item.get_image_url}}" alt="{{item.header}}">
          </div>
        </figure>
      </div>
      <div class="container-visual">
        <a href="{{item.get_absolute_url}}">
          <div class="visual-date">
            {% load news_extras %}
            {% check_date_time item.published|date:'d/m/Y H:m A' as date %}
            <small class="text-muted"><b>{{item.categories}}</b> | {{date}}</small>
          </div>
          <div class="visual-header">
            <h5 class="h5"><b>{{item.header}}</b></h5>
          </div>
          <div class="visual-sub">
            <p><span>{{item.sub_title}}</span></p>
          </div>
        </a>
      </div>
    </div>
    {% endfor %}
    <div class="noticias-carrusel-list">
      {% for item in category %}
      <div class="wrapper__visual content">
        <div class="container-visual-figure">
          <figure class="visual-figure">
            <div class="visual-img">
              <img height="250" width="645" src="{{item.get_image_url}}" alt="{{item.header}}">
            </div>
          </figure>
        </div>
        <div class="container-visual">
          <a href="{{item.get_absolute_url}}">
            <div class="visual-date">
              {% load news_extras %}
              {% check_date_time item.published|date:'d/m/Y H:m A' as date %}
              <small class="text-muted"><b>{{item.categories}}</b> | {{date}}</small>
            </div>
            <div class="visual-header">
              <h5 class="h5"><b>{{item.header}}</b></h5>
            </div>
            <div class="visual-sub">
              <p><span>{{item.sub_title}}</span></p>
            </div>
          </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  {% include 'pages/aside.html' %}
</div>
{% endblock content %}