{% extends 'pages/category.html' %}
{% block category %}
<div class="noticias-carrusel-list">
  {% for item in category %}
  <div class="noticias-tercer-nivel">
    <div class="noticia-segundaria">
      <div class="row">
        <div class="col-lg-6 col-sm-3 col-md-6 bt-center-sm">
          <div class="left">
            <a href="{{item.get_absolute_url}}">
              <div frame="Lista" style="position: relative; width: 100%; padding-top: 53.53%; background-color: #000000">
                <img style="bottom:0;left:0;top:0;right:0;height:auto;width:100%;max-height:100%;max-width:100%;display:block;position:absolute;margin:auto;" height="129" src="{{item.get_image_url}}" alt="{{item.image}}">
              </div>
            </a>
          </div>
        </div>
        <div class="col">
          <div class="right">
            <div class="categoria-noticia">
              <span class="bullet-categoria-noticia" style="background-color: #9C1F42;"></span>
              {% load news_extras %}
              {% check_date_time item.published|date:'SHORT_DATETIME_FORMAT' %}
              <a href="{{item.get_absolute_url}}"><i class="fas fa-clock"></i><b>{{item.categories}}</b> | {{item.published|date:"h:i A"}}</a>
            </div>
            <h3>
              <a class="bt-title eranews homestyle2 text-dark" title="{{item.header}}" href="{{item.get_absolute_url}}">
                <span class="priority-content">{{item.header}}</span>
              </a>
            </h3>
            <p>{{item.sub_title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock category %}