<!doctype html>
<html lang="es_ES">
  <head>
    {% load static %}
    <meta charset="utf-8">
    <meta name="viewport"             content="width=device-width, initial-scale=1.0, maximum-scale=1,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="author"               content="Dominyel Rivera">
    <meta property="og:site_name"     content="quien sabe noticias">
    <!-- Open Graph / Facebook 'DATA' -->
    <!-- Twitter Card data -->
    {% block meta %}
    <meta name="keywords"             content="quien,quien sabe,quien sabe noticias,noticias,noticia,mirar noticias,noticias de hoy,que pasa en el mundo,ver noticias">
    <meta property="og:title"         content="¿Quién sabe? - Noticias" />
    <meta property="og:type"          content="website" />
    <meta property="og:url"           content="https://www.qsnoticia.com/" />
    <meta property="og:description"   content="¿Quién sabe?, ven y enterate de las mejor y ultimas noticias de hoy" />
    <meta property="og:image"         content="{% static 'img/logo-favicon.png' %}">
    {% endblock meta %}
    <link rel="icon" href="{% static 'img/logo-origin.png' %}" type="image/png">
    <!-- Font -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.2/css/all.css" integrity="sha384-vSIIfh2YWi9wW0r9iZe7RJPrKwp6bG+s9QZMoITbCckVJqGCCRhc+ccxNcdpHuYu" crossorigin="anonymous">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <!-- GOOGLE Font -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=News+Cycle:wght@400;700&display=swap" rel="stylesheet">
    {% load static %}
    <!-- My style custom -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/category-all.css' %}">
    <link rel="stylesheet" href="{% static 'css/redes.css' %}">
    <link rel="stylesheet" href="{% static 'css/network.css' %}">
    <link rel="stylesheet" href="{% static 'css/seeker.css' %}">
    <link rel="stylesheet" href="{% static 'css/header-footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/content-first.css' %}">
    <link rel="stylesheet" href="{% static 'css/tab-bar-responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/btn.css' %}">
    <link rel="stylesheet" href="{% static 'css/aside.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.css">
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-ZFED2VV5S5"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', 'G-ZFED2VV5S5');
    </script>
    <script data-ad-client="ca-pub-5177664113814925" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <title>{% block title %}QSN a tu alcance{% endblock title %}</title>
  </head>
  <body>
    <div id="load"><div class="spinner"></div></div>
    <div id="wrapper" class="wrapper">
      <header class="container wrapper__header">
        {% include 'components/header/header.html' %}
        {% include 'components/header/header-responsive.html' %}
      </header>
      <main class="container wrapper__main bg-wrapper rounded">
        {% block content %}
        {% endblock content %}
      </main>
    {% include 'components/footer.html' %}
    {% block js_extras %}
    {% endblock js_extras %}
    <!-- ! soluciona esto del responive navbar please -->
    <script src="https://cdn.jsdelivr.net/npm/glider-js@1.7.3/glider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="{% static 'js/btn-share.js' %}"></script>
    <script src="{% static 'js/index.js' %}"></script>
    <script src="{% static 'js/consuming-api.js' %}"></script>
    {%if request.path == '/'%}<script src="{% static 'js/gliderr.js' %}"></script>{%endif%}
  </body>
</html>