{% extends 'pages/base.html' %}
{% block meta %}
<meta name="keywords"           content="{{breaking_news.category}},{{breaking_news.categories}}" />
<meta property="og:title"       content="{{breaking_news.header}}" />
<meta property="og:type"        content="{{breaking_news.category}}" />
<meta property="og:url"         content="https://www.qsnoticia.com{{breaking_news.get_absolute_url}}" />
<meta property="og:image"       content="{{breaking_news.get_image_url}}" />
<meta property="og:description" content="{{breaking_news.sub_title}}" />
<meta name="twitter:card"       content="summary_large_image">
<meta name="twitter:title"      content="{{breaking_news.header}}">
<meta name="twitter:url"        content="https://www.qsnoticia.com{{breaking_news.get_absolute_url}}">
<meta name="twitter:description"content="{{breaking_news.sub_title}}">
<meta name="twitter:image"      content="{{breaking_news.get_image_url}}">
{% endblock meta %}
{% block title %}QSN a tu alcance - {{breaking_news.header|capfirst}}{% endblock title %}
{% load static %}
{% load news_extras %}
{% load bitly %}
{% block content %}
{% if breaking_news %}
<div class="row pt-3">
  <div class="col-lg-8">
    <div class="container">
      <a id="get-absolute-url" href="{{decode}}"></a>
      <h1 id="is-header" class="h1 fw-bold">{{breaking_news.header}}</h1>
      <div class="bt-extra pb-2">
        <small class="text-muted">
          {% load news_extras %}
          {% check_date_time breaking_news.published|date:'d/m/Y H:m A' as date %}
          <span><i class="fas fa-clock"></i><b id="is-categories">{{breaking_news.categories}}</b> | {{date}}</span>
          {% load hitcount_tags %}
          <span><i class="fas fa-eye"></i>{% get_hit_count for breaking_news %}</span>
        </small>
      </div>
    </div>
    <figure class="image__figure">
      <div class="row">
        <div class="col-lg-12 p-0 image__container-image">
          <img class="float-start" width="720" height="423" src="{{breaking_news.get_image_url}}" alt="{{breaking_news.header}}">
        </div>
        <div class="col-lg-12 p-0 image__container-sub-title">
          <figcaption class="image__figcation">
            {% if breaking_news.sub_title == None %}
              <br>
            {% else %}
              <small id="is-subtitle" class="text-muted">{{breaking_news.sub_title}}</small>
            {% endif %}
          </figcaption>
        </div>
      </div>
    </figure>
    <div class="container lh-base wrapper__content">
      {% spaceless %}
      {{breaking_news.content|safe}}
      {% endspaceless %}
    </div>
    <div class="container mt-3">
      <div class="wrapper-network"> <!-- display-none -->
        <div class="container-network">
          <div class="network-main">
            <div class="network-awesome">
              <i class="fas fa-share-alt"></i>
            </div>
          </div>
          <div class="network-components">
            <div class="network-awesome">
              <a data-text="{{breaking_news.header}}" href="https://www.facebook.com/sharer.php?u=https://www.qsnoticia.com{{breaking_news.get_absolute_url}}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-facebook-f animate"></i>
              </a>
            </div>
            <div class="network-awesome">
              <a href="https://wa.me/?text={{breaking_news.header}} https://www.qsnoticia.com{{breaking_news.get_absolute_url}}" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-whatsapp animate"></i>
              </a>
            </div>
            <div class="network-awesome">
              <a id="tt-share"  data-via="QsNoticia" data-text="{{breaking_news.header}}" data-href="https://www.qsnoticia.com{{breaking_news.get_absolute_url}}" href="https://twitter.com/intent/" target="_blank" rel="noopener noreferrer">
                <i class="fab fa-twitter animate"></i>
              </a>
            </div>
            <span id="textoACopiar" class="left-infinite"></span>
            <div class="network-awesome link-awesome">
              <button id="btnCopiar" data-copy="https://www.qsnoticia.com{{breaking_news.get_absolute_url}}"><i class="fas fa-link animate"></i></button>
              <div id="alerta" class="alert invisible"></div>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  {% include 'pages/aside.html' %}
</div>
{% else %}
{% include 'pages/404.html' %}
{% endif %}
{% endblock content %}
{% block js_extras %}
<script src="{% static 'js/btn.js' %}"></script>
<script src="{% static 'js/network.js' %}"></script>
{% endblock js_extras %}