{% extends 'pages/base.html' %}
{% load static %}
{% block content %}
  <div class="container rounded bg-light pt-3 pb-3 mb-3">
    <div class="row">
      <div class="col-lg-12">{% include 'components/picture_news.html' %}</div>
      <div class="col-lg-12 mb-3 mt-3">{% include 'components/picture_news2.html' %}</div>
      <div class="col-lg-12 mb-3">{% include 'components/advertising.html' %}</div>
      <div class="col-lg-12">{% include 'components/picture_news3.html' %}</div>
    </div>
  </div>
{% endblock content %}
{% block js_extras %}
  <script src="{% static 'js/btn-share.js' %}"></script>
{% endblock js_extras %}