/* ------------------
  ASIDE-BREAKING-NEWS
------------------- */
.wrapper__aside{position: relative;}
.aside__content_aside{
  display: inline;
  position: relative;
}
.wrapper__aside_box_content{
  display: flex;
}
.aside__content_title{
  border-top: #333333 1px solid;
  padding: 1rem 0;
  margin-top: 1rem;
}
.aside__content_title .title{
  text-transform: uppercase;
  text-shadow: #e60034 1px 1px 1px;
}
.aside__content_img{
  width: 100%;
  height: 100%;
  transition: all .3s ease-in-out;
}
.aside__content_item .h6{
  display: flex;
  align-items: center;
}
.aside__content_img.rou-box{
  border-radius: 20px;
  box-shadow: 8px 8px 10px 2px rgba(0,0,0,0.15),
              -8px -8px 10px 2px rgba(255,255,255,.7);
}
.aside__content_link{
  color: #33393b;
  text-decoration: none;
}
.aside__content_link:hover .aside__content_count{color: #e60034;}
.aside__content_count{
  float: left;
  width: 50px;
  height: 50px;
  font-size: 2rem;
  color: #333;
}

.aside__content_link .title{
  font-size: 15px;
  padding: 0 .5rem 0 0;
  line-break: auto;
  margin: .5rem 0 .3rem 0;
  display: inline-block;
}
.aside__content_aside .carousel-figure{margin: 0 !important;}
.aside__content_aside .carousel__lazy-load{
  padding-top: 30% !important;
}
.aside__content_aside .carousel__lazy-load .carousel-img{
  width: 100%;
  height: 100%;
}
@media (min-width:320px){
  .aside__content_aside .carousel-element{display: block;}
}
@media (min-width:360px){
  .aside__content_aside .carousel-element{display: block;}
}
@media (min-width:768px){
  /* slider */
  .aside__content_aside .carousel-element{
    display: flex;
    flex-flow: row wrap;
  }
}
/* Extra small devices (phones, 425px and down) */
@media (min-width: 425px){
  .aside__content_title{
    display: block;
  }
  .aside__content_aside .carousel__container-figure{
    height: 50%;
    width: 100%;
    margin: .5rem;
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media (min-width:768px){
  .aside__content_item{
    padding: 0 3rem;
    line-height: 50px;
  }
  .aside__content_aside .border-dashed{
    padding: 1rem .5rem;
    border: 1px dashed #333;
  }
  .aside__content_aside .carousel__container-figure{
    height: 50%;
    width: 47%;
    margin: .5rem;
  }
  .aside__content_item {padding: .5rem 0;line-height: 20px;}

}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  /* ------------------
    ASIDE-BREAKING-NEWS
  ------------------ */
  .aside__content_title{display: inline-block;}
  .aside__content_aside .aside__content_img {padding-top: 0;}
  .aside__content_item {padding: .5rem 0;line-height: 20px;}
}