{% extends 'pages/category.html' %}
{% block category %}
{% if breaking_news %}
<div class="container">
  <h1 class="h1 fw-bold">{{breaking_news.header}}</h1>
  <div class="bt-extra pb-2">
    <small class="text-muted">
      <span><i class="fas fa-clock"></i><b>{{breaking_news.categories}}</b> | {{breaking_news.published|date:"h:i A"}}</span>
      {% load hitcount_tags %}
      <span><i class="fas fa-eye"></i>{% get_hit_count for breaking_news %}</span>
    </small>
  </div>
</div>
<figure class="image__figure">
  <div class="row">
    <div class="col-lg-12 p-0 image__container-image">
      <img class="float-start zoom" src="{{breaking_news.image.url}}" alt="">
    </div>
    <div class="col-lg-12 p-0 image__container-sub-title">
      <figcaption class="image__figcation">
        {% if breaking_news.sub_title == None %}
          <br>
        {% else %}
          <small class="text-muted">{{breaking_news.sub_title}}</small>
        {% endif %}
      </figcaption>
    </div>
  </div>
</figure>
<div class="container lh-base wrapper__content">
  {% spaceless %}
  {{breaking_news.content|safe}}
  {% endspaceless %}
</div>
{% else %}
{% include 'pages/404.html' %}
{% endif %}
{% endblock category %}