{% extends 'pages/home.html' %}
{% block content %}
<div class="container bg-light rounded pt-3">
  <div class="row mt-3 mb-3">
    <div class="col-xs-6 col-lg-8 col-sm-7 p-0">
      <div class="container">
        <h1 class="h1 fw-bold">{{breaking_news.title|linebreaks}}</h1>
        <div class="bt-extra pb-2">
          <small class="text-muted">
            <span><i class="fas fa-clock"></i>{{breaking_news.published|date:"SHORT_DATE_FORMAT"}}</span>
            <span><i class="fas fa-eye"></i>2312</span>
          </small>
        </div>
      </div>
      <figure class="image__figure">
        <div class="row">
          <div class="col-lg-12 p-0 image__container-image">
            <img class="float-start zoom" src="{{breaking_news.image.url}}" alt="">
          </div>
          <div class="col-lg-9 p-0 image__container-sub-title">
            <figcaption class="image__figcation">
              {% if breaking_news.sub_title == None %}
                <br>
              {% else %}
                <small class="text-muted">{{breaking_news.sub_title}}</small>
              {% endif %}
            </figcaption>
          </div>
        </div>
      </figure>
      <div class="container lh-base">
        {{breaking_news.content|safe}}
      </div>
    </div>
    <div class="col-lg-4 col-sm-5">
      {% include 'pages/breaking-news/aside.html' %}
    </div>
  </div>
</div>
{% endblock content %}