<div class="wrapper__seeker">
  <div class="container-seeker">
    <form action="/get-news-category/" id="seeker-objects" class="form-search" method="GET">{% csrf_token %}
      <input type="hidden" value="/" name="next">
      <input type="text" autocomplete="off" class="search" id="search" name="search" placeholder="BUSCADOR DE NOTICIAS">
      <span class="line-grey"></span>
      <div class="autocomplete" id="autocomplete"></div>
      <button type="submit" class="btn-submit"><i id="fas" class="fas fa-search"></i></button>
    </form>
  </div>
</div>