/* -------------------------
  Menu flotante y Responsive
  -------------------------- */
.navbar__navbar .wrapper__network{margin-top: 0;}
.wrapper__navbar.hide{display: none;}
.wrapper__navbar.hide.bg-activate{display: block;}
.bg-activate{
  position: fixed;
  width: 100%;
  top: -45px;
  right: 0;
  z-index: 70;
  background-image: url(/static/img/footer.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  transition: all .3s ease-in-out;
}
.bg-activate .wrapper-logo-nav-float{
  display: flex;
  justify-content: center;
  align-items: center;
}
.bg-activate .logo__img{width: 70px;padding: 5px;}

/* CONTENT SECTION */
.lst-item a {
  color: #fcfcfc;
  text-decoration: none;
}
.bg-activate .wrapper-section-nav-float{
  display: flex;
  align-items: center;
  position: relative;
}
.bg-activate ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.bg-activate ul li{
  list-style: none;
  list-style-type: none;
}
.bg-activate .wrapper-section-nav-float > ul{
  display: flex;
  color: #e4e2e2;
}
.bg-activate .lst-item{
  position: relative;
}
.bg-activate .lst-item.tabnav {
  border: 1px solid #383838;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  display: inline-block;
  font-family: 'roboto_condensedBold';
  font-size: 13px;
  text-transform: uppercase;
  padding: 4px 15px;
}
.bg-activate .lst-item .sub__lst-nav{
  position: absolute;
  visibility: hidden;
  opacity: 0;
  top: 36px;
  width: 150px;
  left: 0;
  transition: all .3s linear;
  background-image: url(/static/img/footer.jpg);
}
.bg-activate .lst-item:nth-child(2):hover .sub__lst-nav{
  visibility: visible;
  opacity: 1;
}
/* BORDES DE COLORES */
.bg-activate .sub__lst-item.tabnav:nth-child(1){border-left: 2px solid #1ac2ec;}
.bg-activate .sub__lst-item.tabnav:nth-child(2){border-left: 2px solid #9C1F42;}
.bg-activate .sub__lst-item.tabnav:nth-child(3){border-left: 2px solid #1ac22c;}
.bg-activate .sub__lst-item.tabnav:nth-child(4){border-left: 2px solid #DB5C72;}
.bg-activate .sub__lst-item.tabnav:nth-child(5){border-left: 2px solid #dd21dd;}
.bg-activate .sub__lst-item.tabnav:nth-child(6){border-left: 2px solid #e60034;}
.bg-activate .sub__lst-item.tabnav:nth-child(1):hover{background-color: #1ac2ec;}
.bg-activate .sub__lst-item.tabnav:nth-child(2):hover{background-color: #9C1F42;}
.bg-activate .sub__lst-item.tabnav:nth-child(3):hover{background-color: #1ac22c;}
.bg-activate .sub__lst-item.tabnav:nth-child(4):hover{background-color: #DB5C72;}
.bg-activate .sub__lst-item.tabnav:nth-child(5):hover{background-color: #dd21dd;}
.bg-activate .sub__lst-item.tabnav:nth-child(6):hover{background-color:  #e60034;}

.bg-activate .sub__lst-item.tabnav{
  border-bottom: 1px solid #383838;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 1px;
  padding: .5rem 4px;
  font-family: 'roboto_condensedBold';
}

/*Extra small devices (phones, 425px and down) */
@media only screen and (max-width: 425px){
  #t3-header{display: none !important;}
  .container__navbar{display: none !important;}
  .logo{margin-bottom: 1rem;}
  .network{margin: 0;}
  .buscador-portada{display: none;}
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width:768px){
  #t3-header{display: none !important;}
  .container__navbar{display: none !important;}
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px){
  .network i{margin: 0; font-size: 16px;}
  .buscador-portada{width: 100%;}
  .bg-activate .buscador-portada{width: 55%;}
  .wrapper__search .overlay__error_message{
    top: -35px;
    font-size: 13px;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px){
  .network i{margin: 0; font-size: 20px;}
  .buscador-portada{width: 100%;}
  .bg-activate .buscador-portada{width: 60%;}
  .wrapper__search .overlay__error_message{
    top: -40px;
    font-size: 16px;
  }
}