{% load static %}
<!-- FOOTER -->
<footer class="container-fluid wrapper__footer">
  <div class="row widget">
    <!-- FOOTER NAVIGATION -->
    <div class="widget-box col-xs-6 col-lg-4 col-sm-12">
      <div class="widget-header">
        <div class="widget-title">
          <h6>INFORMACIÓN RELEVANTE</h6>
        </div>
      </div>
      <div class="widget-body">
        <span>Este sitio web no almacena archivos, este blog es solo para uso informativo.</span>
      </div>
    </div>
    <div class="widget-box col-xs-6 col-lg-4 col-sm-12">
      <div class="widget-header">
        <div class="widget-title">
          <h6>VISTAS A LA PÁGINA TOTALES</h6>
        </div>
      </div>
      <div class="widget-body">
        <!-- !HACER ESTO REALIDAD Y DINAMICO -->
        <div id="count-view" class="count-view">
          {% load news_extras %}
          {% count_total as total %}
          <h3>{{total}}</h3>
        </div>
      </div>
    </div>
    <div class="widget-box col-xs-6 col-lg-4 col-sm-12">
      <div class="widget-header">
        <div class="widget-title">
          <h6>POPULAR POSTS</h6>
        </div>
      </div>
      {% load news_extras %}
      {% populares_hit 1 as hit %}
      {% for fav in hit %}
      <div class="widget-body" align="left">
        <a class="widget-link" href="{{fav.get_absolute_url}}">
          <figure class="widget-figure">
            <div class="widget-img">
              <img height="117" width="164" src="{{fav.get_image_url}}" alt="{{fav.header}}">
            </div>
            <figcaption class="widget-figcaption">
              <div class="widget-content">
                <span>{{fav.header}}</span>
              </div>
            </figcaption>
          </figure>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
  <div class="row widget__component">
    <!-- LOGO -->
    <div class="col-xs-12 col-lg-2 col-sm-3 no-responsive">
      <div class="widget-img">
        <a class="widget-link" href="/" title="Tnews">
          <img src="{% static 'img/logo.png' %}" alt="QSN">
        </a>
      </div>
    </div>
    <!-- COPYRIGHT -->
    <div class="col-xs-12 col-lg-7 col-sm-6">
      <div class="widget-copyright">
        <p>Copyright © <script>document.write(new Date().getFullYear())</script>
          QS Noticia.
          <br>
          <a href="/terminos-y-condiciones/">Términos y condiciones</a>
        </p>
      </div>
    </div>
    <!-- REDES -->
    <div class="col-xs-12 col-lg-3 col-sm-6">
      <div class="widget-redes">
        <p>Síguenos en:</p>
        {% include 'components/redes.html' %}
      </div>
    </div>
  </div>
</footer>