<div class="col-xs-6 col-lg-3 col-sm-12 pt-1">
  <!-- LO QUE PASA EN VENEZUELA -->
  {% load news_extras %}
  {% load hitcount_tags %}
  {% get_categories 'Internacional' as venezuela %}
  {% for sub_item in venezuela %}
    {% if 'Venezuela' in sub_item.categories %}
      <a href="{{sub_item.get_absolute_url}}" class="btn btn-danger mb-3" style="width: 100%;">
        <i class="fas fa-globe-americas"></i>
        <h5 class="fw-bold">¿Qué pasa en Venezuela?</h5>
      </a>
    {% endif %}
  {% endfor %}
  <!--! hacer que el ultimo border-bottom color dark se vea solo en la ultima iteracion -->
  {% get_categories_by_id 10 3 as venezuela %}
  {% for item in venezuela %}
  <div class="col-lg-12">
    <div class="information" {% if forloop.last %} style="border-bottom: 1px solid #1c1c1c;" {% endif %}>
      <div class="categoria-noticia">
        <span class="bullet-categoria-noticia" style="background-color: #9C1F42;"></span>
        <a href="{{item.get_absolute_url}}" class="section"><i class="fas fa-tag"></i>{{item.categories}}</a>
        <span class="update-date"><i class="fas fa-clock"></i>{{item.published|date:"t-N P"}}</span>
      </div>
      <h3 class="title-sm">
        <a href="{{item.get_absolute_url}}">{{item.header}}</a>
      </h3>
      <div class="lead">
        <a href="{{item.get_absolute_url}}">{{item.sub_title|safe}}</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>