<!-- MAIN NAVIGATION -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %}active{% endif %}" aria-current="page" href="#">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/blog/' %}active{% endif %}" href="#">Blog</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/portafolio/' %}active{% endif %}" href="#">Portafolio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/noticias-random/' %}active{% endif %}" href="#">Noticias random</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/menu-de-videos' %}active{% endif %}" href="#">Menu de videos</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- //MAIN NAVIGATION -->
