<!-- MAIN NAVIGATION -->
{% load static %}
<div class="container__navbar mt-3">
  <div class="wrapper__navbar" >
    <nav class="navbar__navbar">
      <ul class="navbar__nav">
        <li class="navbar__nav-item">
          <div class="tab-grp">
            <a class="navbar__nav-link" href="{% url 'all-category' 'colombia' %}">
              <strong>Colombia</strong>
            </a>
            <span class="hasChildsIcon"></span>
            <div class="child-nav cf mouseleave-2" style="display: none;">
              <div class="portlet-boundary">
                <div id="main-content" class="iter-portal-size" role="main">
                  <div class="portlet-layout">
                    <div class="portlet-column column-nav">
                      <ul class="navbar__sub-nav">
                        {% load news_extras %}
                        {% get_categories 'Colombia' as categories %}
                        {% for sub in categories %}
                          <li class="navbar__sub-item"><a class="navbar__sub-link" href="{{sub.get_absolute_url}}" title="{{sub.categories}}">{{sub.categories}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="portlet-column column-noticia-img">
                      <div class="teaser-viewer-portlet">
                        <div class="navegacion-central-teaser">
                          {% get_category_all 'Colombia' as element %}
                          {% for item in element %}
                          <figure class="content-noticias">
                            <div frame="Menu_Desplegable" style="position: relative; width: 100%; padding-top: 48%; background-color: #000000;border-bottom-right-radius: 5px;">
                              <img class="lazyloaded" src="{{item.get_image_url}}" alt="" width="540" style="bottom: 0;left: 0;top: 0;right: 0;height: auto;width: 100%;max-height: 100%;max-width: 100%;display: block;position: absolute;margin: auto;border-bottom-right-radius: 5px;">
                              <div class="navbar__overlay"></div>
                            </div>
                            <figcaption class="descripcion-noticia-img">
                              <a title="{{item.header}}" href="{{item.get_absolute_url}}">
                                <h3><span class="priority-content">{{item.header}}</span></h3>
                                <p>
                                  <span class="bullet-categoria-noticias" style="background-color: #1ac2ec;"></span>
                                  {{item.published|date:"t-N P"}}
                                </p>
                              </a>
                            </figcaption>
                          </figure>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__nav-item">
          <div class="tab-grp">
            <a class="navbar__nav-link" href="{% url 'all-category' 'internacional' %}">
              <strong>Internacional</strong>
            </a>
            <span class="hasChildsIcon"></span>
            <div class="child-nav cf mouseleave" style="display: none;">
              <div class="portlet-boundary">
                <div id="main-content" class="iter-portal-size" role="main">
                  <div class="portlet-layout">
                    <div class="column-nav">
                      <ul class="navbar__sub-nav">
                        {% get_categories 'Internacional' as categories %}
                        {% for sub in categories %}
                          <li class="navbar__sub-item"><a class="navbar__sub-link" href="{{sub.get_absolute_url}}" title="{{sub.categories}}">{{sub.categories}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="column-noticia-img">
                      <div class="teaser-viewer-portlet">
                        <div class="navegacion-central-teaser">
                          {% get_category_all 'Internacional' as international %}
                          {% for item in international %}
                          <figure class="content-noticias">
                            <div frame="Menu_Desplegable" style="position: relative; width: 100%; padding-top: 41%; background-color: #000000;border-bottom-right-radius: 5px;">
                              <img class="lazyloaded" src="{{item.get_image_url}}" alt="" width="500" style="bottom: 0;left: 0;top: 0;right: 0;height: auto;width: 100%;max-height: 100%;max-width: 100%;display: block;position: absolute;margin: auto;border-bottom-right-radius: 5px;">
                              <div class="navbar__overlay"></div>
                            </div>
                            <figcaption class="descripcion-noticia-img">
                              <a title="{{item.header}}" href="{{item.get_absolute_url}}">
                                <h3><span class="priority-content">{{item.header}}</span></h3>
                                <p>
                                  <span class="bullet-categoria-noticias" style="background-color: #9C1F42;"></span>
                                  {{item.published|date:"t-N P"}}
                                </p>
                              </a>
                            </figcaption>
                          </figure>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__nav-item">
          <div class="tab-grp">
            <a class="navbar__nav-link" href="{% url 'all-category' 'deporte' %}">
              <strong>Deporte</strong>
            </a>
            <span class="hasChildsIcon"></span>
            <div class="child-nav cf mouseleave-2" style="display: none;">
              <div class="portlet-boundary">
                <div id="main-content" class="iter-portal-size" role="main">
                  <div class="portlet-layout">
                    <div class="portlet-column column-nav">
                      <ul class="navbar__sub-nav">
                        {% get_categories 'Deporte' as categories %}
                        {% for sub in categories %}
                          <li class="navbar__sub-item"><a class="navbar__sub-link" href="{{sub.get_absolute_url}}" title="{{sub.categories}}">{{sub.categories}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="portlet-column column-noticia-img">
                      <div class="teaser-viewer-portlet">
                        <div class="navegacion-central-teaser">
                          {% get_category_all 'Deporte' as news_sport %}
                          {% for item in news_sport %}
                          <figure class="content-noticias">
                            <div frame="Menu_Desplegable" style="position: relative; width: 100%; padding-top: 41%; background-color: #000000;border-bottom-right-radius: 5px;">
                              <img class="lazyloaded" src="{{item.get_image_url}}" alt="" width="540" style="bottom: 0;left: 0;top: 0;right: 0;height: auto;width: 100%;max-height: 100%;max-width: 100%;display: block;position: absolute;margin: auto;border-bottom-right-radius: 5px;">
                              <div class="navbar__overlay"></div>
                            </div>
                            <figcaption class="descripcion-noticia-img">
                              <a title="{{item.header}}" href="{{item.get_absolute_url}}">
                                <h3><span class="priority-content">{{item.header}}</span></h3>
                                <p>
                                  <span class="bullet-categoria-noticias" style="background-color:  #1ac22c;"></span>
                                  {{item.published|date:"t-N P"}}
                                </p>
                              </a>
                            </figcaption>
                          </figure>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__nav-item">
          <div class="tab-grp">
            <a class="navbar__nav-link" href="{% url 'all-category' 'tendencia' %}">
              <strong>Tendencia</strong>
            </a>
            <span class="hasChildsIcon"></span>
            <div class="child-nav cf mouseleave-3" style="display: none;">
              <div class="portlet-boundary">
                <div id="main-content" class="iter-portal-size" role="main">
                  <div class="portlet-layout">
                    <div class="column-nav">
                      <ul class="navbar__sub-nav">
                        {% get_categories 'Tendencia' as categories %}
                        {% for sub in categories %}
                          <li class="navbar__sub-item"><a class="navbar__sub-link" href="{{sub.get_absolute_url}}" title="{{sub.categories}}">{{sub.categories}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="column-noticia-img">
                      <div class="teaser-viewer-portlet">
                        <div class="navegacion-central-teaser">
                          {% get_category_all 'Tendencia' as tendencia %}
                          {% for item in tendencia %}
                          <figure class="content-noticias">
                            <div frame="Menu_Desplegable" style="position: relative; width: 100%; padding-top: 41%; background-color: #000000;border-bottom-right-radius: 5px;">
                              <img class="lazyloaded" src="{{item.get_image_url}}" alt="" width="500" style="bottom: 0;left: 0;top: 0;right: 0;height: auto;width: 100%;max-height: 100%;max-width: 100%;display: block;position: absolute;margin: auto;border-bottom-right-radius: 5px;">
                              <div class="navbar__overlay"></div>
                            </div>
                            <figcaption class="descripcion-noticia-img">
                              <a title="{{item.header}}" href="{{item.get_absolute_url}}">
                                <h3><span class="priority-content">{{item.header}}</span></h3>
                                <p>
                                  <span class="bullet-categoria-noticias" style="background-color: #DB5C72;"></span>
                                  {{item.published|date:"t-N P"}}
                                </p>
                              </a>
                            </figcaption>
                          </figure>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__nav-item">
          <div class="tab-grp">
            <a class="navbar__nav-link" href="{% url 'all-category' 'tecnologia' %}">
              <strong>Tecnología</strong>
            </a>
            <span class="hasChildsIcon"></span>
            <div class="child-nav cf mouseleave-4" style="display: none;">
              <div class="portlet-boundary">
                <div id="main-content" class="iter-portal-size" role="main">
                  <div class="portlet-layout">
                    <div class="column-nav">
                      <ul class="navbar__sub-nav">
                        {% get_categories 'Tecnología' as categories %}
                        {% for sub in categories %}
                          <li class="navbar__sub-item"><a class="navbar__sub-link" href="{{sub.get_absolute_url}}" title="{{sub.categories}}">{{sub.categories}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="column-noticia-img">
                      <div class="teaser-viewer-portlet">
                        <div class="navegacion-central-teaser">
                          {% get_category_all 'Tecnología' as tecnologia %}
                          {% for item in tecnologia %}
                          <figure class="content-noticias">
                            <div frame="Menu_Desplegable" style="position: relative; width: 100%; padding-top: 41%; background-color: #000000;border-bottom-right-radius: 5px;">
                              <img class="lazyloaded" src="{{item.get_image_url}}" alt="" width="500" style="bottom: 0;left: 0;top: 0;right: 0;height: auto;width: 100%;max-height: 100%;max-width: 100%;display: block;position: absolute;margin: auto;border-bottom-right-radius: 5px;">
                              <div class="navbar__overlay"></div>
                            </div>
                            <figcaption class="descripcion-noticia-img">
                              <a title="{{item.header}}" href="{{item.get_absolute_url}}">
                                <h3><span class="priority-content">{{item.header}}</span></h3>
                                <p>
                                  <span class="bullet-categoria-noticias" style="background-color: #dd21dd;"></span>
                                  {{item.published|date:"t-N P"}}
                                </p>
                              </a>
                            </figcaption>
                          </figure>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
        <li class="navbar__nav-item">
          <div class="tab-grp">
            <a class="navbar__nav-link" href="{% url 'all-category' 'entretenimiento' %}">
              <strong>Entretenimiento</strong>
            </a>
            <span class="hasChildsIcon"></span>
            <div class="child-nav cf mouseleave" style="display: none;">
              <div class="portlet-boundary">
                <div id="main-content" class="iter-portal-size" role="main">
                  <div class="portlet-layout">
                    <div class="column-nav">
                      <ul class="navbar__sub-nav">
                        {% get_categories 'Entretenimiento' as categories %}
                        {% for sub in categories %}
                          <li class="navbar__sub-item"><a class="navbar__sub-link" href="{{sub.get_absolute_url}}" title="{{sub.categories}}">{{sub.categories}}</a></li>
                        {% endfor %}
                      </ul>
                    </div>
                    <div class="column-noticia-img">
                      <div class="teaser-viewer-portlet">
                        <div class="navegacion-central-teaser">
                          {% get_category_all 'Entretenimiento' as entertainment %}
                          {% for item in entertainment %}
                          <figure class="content-noticias">
                            <div frame="Menu_Desplegable" style="position: relative; width: 100%; padding-top: 41%; background-color: #000000;border-bottom-right-radius: 5px;">
                              <img class="lazyloaded" src="{{item.get_image_url}}" alt="" width="500" style="bottom: 0;left: 0;top: 0;right: 0;height: auto;width: 100%;max-height: 100%;max-width: 100%;display: block;position: absolute;margin: auto;border-bottom-right-radius: 5px;">
                              <div class="navbar__overlay"></div>
                            </div>
                            <figcaption class="descripcion-noticia-img">
                              <a title="{{item.header}}" href="{% url 'slug-general' item.category|slugify item.categories|slugify item.slug|slugify%}">
                                <h3><span class="priority-content">{{item.header}}</span></h3>
                                <p>
                                  <span class="bullet-categoria-noticias" style="background-color: #e60034;"></span>
                                  {{item.published|date:"t-N P"}}
                                </p>
                              </a>
                            </figcaption>
                          </figure>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>