{% load static %}
<div class="container__navbar">
  <div class="wrapper__navbar hide" id="navbar__nav-float">
    <nav class="navbar__navbar">
      <div class="row">
        <div class="col wrapper-logo-nav-float">
          <a href="/" title="Tnews">
            <img class="logo__img" src="{% static 'img/tnews.png' %}" alt="Tnews">
          </a>
        </div>
        <div class="col wrapper-section-nav-float">
          <ul>
            <li class="lst-item tabnav"><a href="/" title="Inicio">Inicio</a></li>
            <li class="lst-item tabnav">
              <a href="/" title="seccion">seccion</a>
              <ul class="sub__lst-nav">
                <li class="sub__lst-item tabnav"><a class="navbar__nav-link" title="Colombia" href="{% url 'all-category' 'colombia' %}"><strong>Colombia</strong></a></li>
                <li class="sub__lst-item tabnav"><a class="navbar__nav-link" title="Internacional" href="{% url 'all-category' 'internacional' %}"><strong>Internacional</strong></a></li>
                <li class="sub__lst-item tabnav"><a class="navbar__nav-link" title="Deporte" href="{% url 'all-category' 'deporte' %}"><strong>Deporte</strong></a></li>
                <li class="sub__lst-item tabnav"><a class="navbar__nav-link" title="Tendencia" href="{% url 'all-category' 'tendencia' %}"><strong>Tendencia</strong></a></li>
                <li class="sub__lst-item tabnav"><a class="navbar__nav-link" title="Tecnología" href="{% url 'all-category' 'tecnologia' %}"><strong>Tecnología</strong></a></li>
                <li class="sub__lst-item tabnav"><a class="navbar__nav-link" title="Entretenimiento" href="{% url 'all-category' 'entretenimiento' %}"><strong>Entretenimiento</strong></a></li>
              </ul>
            </li>
          </ul>
        </div>
        <div class="col search-network portlet-column">
          <!-- REDES -->
          {% include 'components/redes.html' %}
          <!-- SEARCH-FLOAT -->
          {% include 'components/search-float.html' %}
        </div>
      </div>
    </nav>
  </div>
</div>
