<!-- pictureNews -->
{% load static %}
<div id="pictureNews">
  <div class="container">
    <div class="row">
      <div class="col-xs-6 col-sm-7 p-0 pb-4 position-relative">
        <div class="col bt-center rounded">
          <img class="float-start zoom" src="{% static 'img/covid.jpeg' %}" alt="">
          <div class="overlay"></div>
          <div class="bt-title-cat-intro-eranews">
            <a class="bt-category eranews homestyle2" href="#">NUEVO</a>
            <br>
            <a class="bt-title eranews homestyle2" href="#">Preocupante aumento en las cifras de coronavirus en Colombia: reporte</a>
            <div class="bt-extra">
              <span class="bt-date eranews">18</span>
              <span class="bt-author eranews">By</span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-lg-5 col-sm-1">
        <div class="row picturenews-right">
          <div class="col-lg-6 col-sm-3 pt-0 p-1 position-relative">
            <div class="col bt-center rounded">
              <img class="float-start zoom-sm" src="{% static 'img/background.jpg' %}" alt="">
              <div class="overlay-sm"></div>
            </div>
            <div class="bt-title-cat-intro-eranews">
              <a class="bt-category eranews homestyle2" href="#">Reciente</a>
              <br>
              <a class="bt-title eranews homestyle2" href="#">Preocupante aumento en las ci...</a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-3 pt-0 p-1 position-relative">
            <div class="col bt-center rounded">
              <img class="float-start zoom-sm" src="{% static 'img/background.jpg' %}" alt="">
              <div class="overlay-sm"></div>
            </div>
            <div class="bt-title-cat-intro-eranews">
              <a class="bt-category eranews homestyle2" href="#">Reciente</a>
              <br>
              <a class="bt-title eranews homestyle2" href="#">Preocupante aumento en las ci...</a>
            </div>
          </div>
        </div>
        <div class="row picturenews-right">
          <div class="col-lg-6 col-sm-3 col-md-6 pt-0 p-1 position-relative">
            <div class="col bt-center rounded">
              <img class="float-start zoom-sm" src="{% static 'img/background.jpg' %}" alt="">
              <div class="overlay-sm"></div>
            </div>
            <div class="bt-title-cat-intro-eranews">
              <a class="bt-category eranews homestyle2" href="#">Reciente</a>
              <br>
              <a class="bt-title eranews homestyle2" href="#">Preocupante aumento en las ci...</a>
            </div>
          </div>
          <div class="col-lg-6 col-sm-3 col-md-6 pt-0 p-1 position-relative">
            <div class="col bt-center rounded">
              <img class="float-start zoom-sm" src="{% static 'img/background.jpg' %}" alt="">
              <div class="overlay-sm"></div>
            </div>
            <div class="bt-title-cat-intro-eranews">
              <a class="bt-category eranews homestyle2" href="#">Reciente</a>
              <br>
              <a class="bt-title eranews homestyle2" href="#">Preocupante aumento en las ci...</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- //pictureNews -->