<!-- pictureNews -->
{% load static %}
<div class="row">
  <!-- Column last -->
  <div class="col-xs-6 col-lg-7 col-sm-12 wrapper__pictureNews">
    <div class="bt-center boxroun">
      {% load news_extras %}
      {% get_element_news as new_posts %}
      {% for new in new_posts %}
      <img class="float-start zoom" src="{{new.get_image_url}}" alt={{new.image}}">
      <div class="overlay"></div>
      <div class="bt-title-cat-intro-eranews">
        <a class="bt-category eranews homestyle2" href="{% url 'News:slug_general' new.id new.slug|slugify %}">noticias de última hora</a>
        <br>
        <a class="bt-title eranews homestyle2" title="{{new.title}}" href="{% url 'News:slug_general' new.id new.slug|slugify %}"><h1 class="h3">{{new.title|linebreaks}}</h1></a>
        <div class="d-flex justify-content-between">
          <div class="bt-extra">
            <span><i class="fas fa-clock"></i>{{new.published|date:"SHORT_DATE_FORMAT"}}</span>
            <span><i class="fas fa-tag"></i>{{new.sub_categories}}</span>
            {% if new.city %}<span><i class="fas fa-globe"></i>{{new.city}}</span>{% endif %}
            <span><i class="fas fa-eye"></i>{{ hitcount.hit_counted }}</span>
          </div>
          <div class="bt-share">
            <i class="fas fa-share-alt share-all"></i>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  <!-- Column first -->
  <div class="col-lg-5 col">
    <div class="row picturenews-right">
      <div class="col-lg-12 col-sm-12 bt-center-sm">
        {% get_one_element_news as new_posts %}
        {% for new in new_posts %}
        <div class="bt-center">
          <img class="float-start zoom-sm" src="{{new.get_image_url}}" alt="{{new.image}}">
          <div class="overlay-sm"></div>
        </div>
        <div class="bt-title-cat-intro-eranews">
          <a class="bt-category eranews homestyle2" href="/recent-news/">Reciente</a>
          <br>
          <a class="bt-title eranews homestyle2" title="{{new.title}}" href="{% url 'News:slug_general' new.id new.slug|slugify %}"><small>{{new.title}}</small></a>
          <div class="bt-extra">
            <small>
              <span><i class="fas fa-clock"></i>{{new.published|date:"SHORT_DATE_FORMAT"}}</span>
              <span><i class="fas fa-eye"></i>2312</span>
            </small>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="row picturenews-right">
      <div class="col-lg-6 col-sm-3 col-md-6 bt-center-sm">
        {% get_two_element_news as new_posts %}
        {% for new in new_posts %}
        <div class="col bt-center">
          <img class="float-start zoom-sm" width="224" src="{{new.get_image_url}}" alt="{{new.image}}">
          <div class="overlay-sm"></div>
        </div>
        <div class="bt-title-cat-intro-eranews">
          <a class="bt-category eranews homestyle2" href="/recent-news/">Reciente</a>
          <br>
          <a class="bt-title eranews homestyle2" title="{{new.title}}" href="{% url 'News:slug_general' new.id new.slug|slugify %}"><small>{{new.title}}</small></a>
          <div class="bt-extra">
            <small>
              <span><i class="fas fa-clock"></i>{{new.published|date:"SHORT_DATE_FORMAT"}}</span>
              <span><i class="fas fa-eye"></i>2312</span>
            </small>
          </div>
        </div>
        {% endfor %}
      </div>
      <div class="col-lg-6 col-sm-3 col-md-6 bt-center-sm">
        {% get_three_element_news as new_posts %}
        {% for new in new_posts %}
        <div class="col bt-center">
          <img class="float-start zoom-sm" width="224" src="{{new.get_image_url}}" alt="{{new.image}}">
          <div class="overlay-sm"></div>
        </div>
        <div class="bt-title-cat-intro-eranews">
          <a class="bt-category eranews homestyle2" href="/recent-news/">Reciente</a>
          <br>
          <a class="bt-title eranews homestyle2" title="{{new.title}}" href="{% url 'News:slug_general' new.id new.slug|slugify %}"><small>{{new.title}}</small></a>
          <div class="bt-extra">
            <small>
              <span><i class="fas fa-clock"></i>{{new.published|date:"SHORT_DATE_FORMAT"}}</span>
              <span><i class="fas fa-eye"></i>2312</span>
            </small>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>