<div align="center" class="network">
  <a class="network__nav-link" href="/estamos-trabajando-para-darte-la-mejor-experiencia/" target="_blank" title="facebook"><i class="fab fa-facebook-f"></i></a>
  <div class="separadorNetwork"></div>
  <a class="network__nav-link" href="/estamos-trabajando-para-darte-la-mejor-experiencia/" target="_blank" title="twitter"><i class="fab fa-twitter"></i></a>
  <div class="separadorNetwork"></div>
  <a class="network__nav-link" href="/estamos-trabajando-para-darte-la-mejor-experiencia/" target="_blank" title="instagram"><i class="fab fa-instagram"></i></a>
</div>