<div class="wrapper__network" align="center">
  <div class="container-network">
    <a class="network-link" href="/" target="_blank" title="facebook">
      <i class="bi bi-facebook"></i>
    </a>
  </div>
  <div class="network-separators"></div>
  <div class="container-network">
    <a class="network-link" href="https://twitter.com/QsNoticia" target="_blank" title="twitter">
      <i class="bi bi-twitter"></i>
    </a>
  </div>
  <div class="network-separators"></div>
  <div class="container-network">
    <a class="network-link" href="/" target="_blank" title="instagram">
      <i class="bi bi-instagram"></i>
    </a>
  </div>
</div>