<div align="center" class="network">
  <a class="network__nav-link" href="/estamos-trabajando-para-darte-la-mejor-experiencia/" target="_blank" title="facebook"><i class="bi bi-facebook"></i></a>
  <div class="separadorNetwork"></div>
  <a class="network__nav-link" href="https://twitter.com/QsNoticias" target="_blank" title="twitter"><i class="bi bi-twitter"></i></a>
  <div class="separadorNetwork"></div>
  <a class="network__nav-link" href="/estamos-trabajando-para-darte-la-mejor-experiencia/" target="_blank" title="instagram"><i class="bi bi-instagram"></i></a>
</div>